<tr>
  <td class="micropost">
    <%= render :partial => 'shared/individual_post', :locals => { :feed_item => feed_item } %>
  </td>
  <% if current_user == feed_item.user %>
    <td>
      <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.content %>
    </td>
  <% end %>
</tr>