<div class="user_info">
  <span class="user_name">
    <%= link_to current_user.name, user_path(current_user) %>
  </span>
  <br/>
  <span class="microposts">
    <%= link_to pluralize(current_user.microposts.count, "micropost"), user_microposts_path(current_user) %>
  </span>
</div>