<h1>Welcome to Ben's Sample App</h1>
<p>Welcome to the home page for Ben's Sample app.  This page will be improved as development progresses.</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>