<h1>Welcome to Ben's Sample App</h1>
<p>Welcome to the home page for Ben's Sample app.  This page will be improved as development progresses.</p>
<% unless user_signed_in? %>
  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
<% end %>
